<%- include ('partials/header-initial.ejs') %>

<div class="alert-container d-flex align-items-center justify-content-center">
    <h2>Email in use, please try again <a href="/register">here</a> with a different e-mail!</h2>
</div>

<%- include ('partials/footer.ejs') %>
