<%- include ('partials/header-final.ejs') %>

<div class="form-edit-container d-flex align-items-center justify-content-center">
    Hello, I am where the entry will go 
</div>

<%- include ('partials/footer.ejs') %>