<%- include ('partials/header-initial.ejs') %>

<div id="main-container">
  <div class="intro-section">
    <img class="app-image" src="images/notebook.png" alt="app-image" />
    <h1><strong>Your journal, digitally</strong></h1>
    <p>
      A one-stop site to let your thoughts flow. Here at Journal, we care about
      your wellbeing.
    </p>
    <p class="register-prompt">
      Don't have an account? Register <a href="/register">here</a>!
    </p>
  </div>
</div>

<div id="middle-section">
  <div class="container-fluid">
    <div class="row middleContainer-row">
      <div class="col-lg-4">
        <img class="point-image" src="images/heart.png" alt="heart" />
        <h3>Easy to Use</h3>
        <p>User friendly with simple navigation</p>
      </div>
      <div class="col-lg-4">
        <img
          class="point-image"
          src="images/planet-earth.png"
          alt="vegan-friendly"
        />
        <h3>Earth Friendly</h3>
        <p>Save the earth by using less paper</p>
      </div>
      <div class="col-lg-4">
        <img class="point-image" src="images/checked.png" alt="check" />
        <h3>All-in-One</h3>
        <p>
          Track your mood, accomplishments, notable events, daily spending,
          meals and exercise with us
        </p>
      </div>
    </div>
  </div>
</div>

<%- include ('partials/footer.ejs') %>
